<?xml version="1.0" encoding="UTF-8"?>


<suite name="restassuredtestsuit">


<listeners>
<listener class-name="com.projectname.utilities.Listeners" />
</listeners>

 <test thread-count="5" name="restassuredtest">

<classes>


<class name="com.projectname.testcases.TC001_GETUSER_LIST" />
<class name="com.projectname.testcases.TC002_GetSingleUser" />
<class name="com.projectname.testcases.TC003_POST_NewUser" />
<class name="com.projectname.testcases.TC004_PUTRequest" />
<class name="com.projectname.testcases.TC005_Delete_Request" />


</classes>>

</test> 
</suite> <!-- suite -->